.promo {
    margin: 0 50px;
    margin-top: 48px;
    width: 1800px;
    height: 904px;
    background: url('../img/bg.png') center (center / cover) no-repeat;
    




    &__logo {
        position: absolute;
        margin-top: 74px;
        margin-left: 310px;
        font-family: Oswald;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: 2.304px;
        color: #FFFFFF;
    }
    
    
    
    
    &__menu {
        padding: 79px 0 0 985px;
        &-wrapper {
            display: flex;
            position: relative;
            width: 503px;
            justify-content: space-between;
        }
        &-item {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 2px;
                top: 24px;
                right: 0;
                background-color: #4caf50;
            }
            &.active {
                &:before {
                    width: 100%;
                }
            }
            a {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 1.94px;
                &:hover {
                    color: #FFFFFF;
                }
                
            }
        }
    }

    &__title {
        padding-top: 273px;
        font-size: 72px;
        line-height: 107px;
        text-align: center;
        letter-spacing: 4.608px;
        color: #FFFFFF;
    }
    &__subtitle {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        padding-top: 22.5px;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 1.28px;
        color: #FFFFFF;
    }
    &__slider {
        &-selector {
            display: flex;
            margin-top: 295px;
            margin-left: 843px;
            width: 107px;
            justify-content: space-between;
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
            align-items: flex-end;
            letter-spacing: 1.152px;
            color: rgba(255, 255, 255, 0.437245);
        }
        &-item {
            position: relative;
            z-index: 0;
            &.active {
                top: 4px;
                font-weight: bold;
                font-size: 36px;
                line-height: 53px;
                letter-spacing: 2.304px;
                color: #FFFFFF;
                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 2px;
                    top: 28px;
                    left: -3px;
                    background-color: #4caf50;
                }
                &:after {
                    width: 20px;
                    left: 17px;
                    z-index: -1;   
                }
            }
        }
    }




}