.services {
    position: relative;
    margin: 0 auto;
    padding-top: 109px;
    width: 1800px;
    height: 796px;
    background: #FBFBFB;
    &__title {
        position: relative;
        margin: 135px 0 0 315px;
       
    }
    &__wrapper {
        display: flex;
        width: 1173px;
        margin: 0 auto;
        padding-top: 85px;
        justify-content: space-between;
    }
    &__card {
        width: 373px;
        height: 260px;
        padding: 50px 48px 0 43px;
        background-color: #fff;
        &.active {
            position: relative;
            &:before {
            content: '';
            position: absolute;
            width: 373px;
            height: 3px;
            bottom: 0;
            left: 0;
            background: #70BF73;
            }
            img, a {
                opacity: 1;
            }
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
        &-title {
            position: relative;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1.28px;
            text-transform: uppercase;
            color: #252525;
            &:before {
                content: '';
                position: absolute;
                width: 35px;
                height: 2px;
                top: 43px;
                background-color: #252525;
            }
        }
        &-image {
            display: flex;
            width: 50px;
            height: 50px;
            background: #FFFFFF;
            border-radius: 100%;
            box-shadow: 0px 0px 20px #DBDBDB;
            align-items: center;
            justify-content: center;
            img {
                position: relative;
                opacity: 0.5;
            }
        }
        &-text {
            padding-top: 16px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 25px;
            letter-spacing: 1.008px;
            color: #777777;
        }
        &-link {
            padding-top: 19px;
            a {
            font-weight: 300;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.64px;
            text-transform: uppercase;
            color: #252525;
            mix-blend-mode: normal;
            opacity: 0.5;
            }
        }
    }
}

.main-title:before {
    top: 80px;
}